<link rel="stylesheet" href="/css/add.css">
<script src="/js/add.js"></script>
<script src="/js/mapa.js"></script>

{{>sidebar}}


{{>navigation}}




<div class="contenedor">

  <div class="container p-5 mt-5">

    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="card text-center">
          <div class="PopupPanel">
            <label class="text-center mt-4">Selecciona un deporte</label>
            <div class="gridDeportes mt-3">

              <div class="futbol deporte">
                <img src="/img/deportesIconos/futbol.png" alt="" height="100" width="100" class="imgDeportes">
              </div>

              <div class="baloncesto deporte">
                <img src="/img/deportesIconos/baloncesto.png" alt="" height="100" width="100" class="imgDeportes">
              </div>

              <div class="beisbol deporte">
                <img src="/img/deportesIconos/beisbol.png" alt="" height="100" width="100" class="imgDeportes">
              </div>

              <div class="padel deporte">
                <img src="/img/deportesIconos/padel.png" alt="" height="100" width="100" class="imgDeportes">
              </div>

              <div class="running deporte">
                <img src="/img/deportesIconos/running.png" alt="" height="100" width="100" class="imgDeportes">
              </div>

              <div class="senderismo deporte">
                <img src="/img/deportesIconos/senderismo.jpg" alt="" height="100" width="100" class="imgDeportes">
              </div>

              <div class="tenis deporte">
                <img src="/img/deportesIconos/tenis.png" alt="" height="100" width="100" class="imgDeportes">
              </div>

            </div>
          </div>

          <div class="card-header header-signup">
            <h3 class="registrate">Crea tu evento!</h3>
            <p class="right"></p>
          </div>

          <div class="card-body {{userDatos.provincia}}">

            <div class="form-group input-group creacionEvento">
              <label>Título del Evento</label>
              <div class="input-group-prepend ml-3">
                <input type="type" name="nombre" placeholder="Titulo" class="form-control mr-5 nombre" autofocus>
              </div>

              <label>Cantidad de personas</label>
              <div class="input-group-prepend ml-3">
                <input class="form-control" type="number" value="1" id="example-number-input">
              </div>

            </div>


            <label class="mt-4">Fecha y hora del evento</label>
            <div class="row">

              <div class="col-xs-3 col-md-3 form-group input-group">
                <select name="day" class="form-control input-lg">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select> </div>
              <div class="col-xs-3 col-md-3">
                <select name="month" class="form-control input-lg">
                  <option value="01">Enero</option>
                  <option value="02">Febrero</option>
                  <option value="03">Marzo</option>
                  <option value="04">Abril</option>
                  <option value="05">Mayo</option>
                  <option value="06">Junio</option>
                  <option value="07">Julio</option>
                  <option value="08">Agosto</option>
                  <option value="09">Septiembre</option>
                  <option value="10">Octubre</option>
                  <option value="11">Noviembre</option>
                  <option value="12">Diciembre</option>
                </select> </div>
              <div class="col-xs-3 col-md-3">
                <select name="year" class="form-control input-lg">
                  <option value="2020">2020</option>
                </select>
              </div>
              <div class="col-xs-3 col-md-3">
                <input type="time" name="hour" value="" class="form-control input-lg" max="23:00">
                </select>
              </div>

            </div>

            <label class="mt-4">Descripcion y lugar del evento</label>

            <div class="form-group input-group row">

              <div class="input-group-prepend col-xs-12 col-md-12" id="">
                <input class="form-control mr-sm-2 search" type="search" placeholder="Search" aria-label="Search">
                
              </div>
              <div class="resultados col-xs-12 col-md-12 mt-3">
              <ul id="myUL invisible">
                 
                </ul>
              </div>


            </div>


            <!--
                  
                  <!--<div class="form-group input-group creacionEvento">
              
                <div class="input-group-prepend ">
                  <div class="tipoDeporte">
                    <img src="/img/muchos.png" alt="" height="100" width="100" class="imgDeportes">
                    <p class="nombreDeporte">Selecciona un deporte</p>
                  </div>
                </div>
                  
                  
                  <div class="btn-group btn-group-toggle privacidad" data-toggle="buttons">
                  <label class="btn btn-success active publico">
                    <input type="radio" name="options" id="option1" checked> Publico
                  </label>
                  <label class="btn btn-danger privado">
                    <input type="radio" name="options" id="option2"> Privado
                  </label>
                  <img src="/img/abierto.png" alt="" height="42" width="42" class="ml-3 candado">
                  
                </div>
-->


          </div>
        </div>
      </div>
    </div>
  </div>



</div>