<link rel="stylesheet" href="/css/add.css">
<script src="/js/mapa.js"></script>

{{>navigation}}
{{>sidebar}}

<div class="contenedor">
  
  <div class="crearEvento mt-5 pt-5">

    <div class="row">
      
      <div class="col-md-12 mx-auto tarjeta">
        <div class="alertas">
  
</div>
        <div class="card">
         <!--<div class="PopupPanel">
            <label class="text-center mt-4">Selecciona un deporte</label>
            <div class="gridDeportes mt-3">

              <div class="futbol deporte">
                <img src="/img/deportesIconos/futbol.png" alt="" height="100" width="100" class="imgDeportes">
              </div>

              <div class="baloncesto deporte">
                <img src="/img/deportesIconos/baloncesto.png" alt="" height="100" width="100" class="imgDeportes">
              </div>

              <div class="beisbol deporte">
                <img src="/img/deportesIconos/beisbol.png" alt="" height="100" width="100" class="imgDeportes">
              </div>

              <div class="padel deporte">
                <img src="/img/deportesIconos/padel.png" alt="" height="100" width="100" class="imgDeportes">
              </div>

              <div class="running deporte">
                <img src="/img/deportesIconos/running.png" alt="" height="100" width="100" class="imgDeportes">
              </div>

              <div class="senderismo deporte">
                <img src="/img/deportesIconos/senderismo.jpg" alt="" height="100" width="100" class="imgDeportes">
              </div>

              <div class="tenis deporte">
                <img src="/img/deportesIconos/tenis.png" alt="" height="100" width="100" class="imgDeportes">
              </div>

            </div>
          </div>-->
          <div class="card-header header-signup text-center">
            <h3 class="registrate">Crea tu evento!</h3>
          </div>
          <div class="card-body {{userDatos.provincia}}">
            
            <form action="/evento/add" method="POST" name="formularioAdd" class="formulario">
            <div class="form-group input-group">
              <div class="input-group-prepend flex-center">
                <label>Título del Evento</label>
                <div class="input-group-prepend ml-3">
                  <input type="type" name="titulo" placeholder="Titulo" class="form-control mr-5 borde tituloevento" autofocus>
                </div>

                <label>Cantidad de personas</label>
                <div class="input-group-prepend ml-3">
                  <input class="form-control borde nparticipantes" type="number" value="1" id="example-number-input" name="nparticipantes">
                </div>
              </div>

            </div>

            <p class="text-center flex-center mt-3">Fecha y hora del evento</p>


            <div class="row">

              <div class="col-xs-3 col-md-3 form-group input-group">
                <select name="day" class="form-control input-lg borde dia">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select> </div>
              <div class="col-xs-3 col-md-3">
                <select name="month" class="form-control input-lg borde mes">
                  <option value="01">Enero</option>
                  <option value="02">Febrero</option>
                  <option value="03">Marzo</option>
                  <option value="04">Abril</option>
                  <option value="05">Mayo</option>
                  <option value="06">Junio</option>
                  <option value="07">Julio</option>
                  <option value="08">Agosto</option>
                  <option value="09">Septiembre</option>
                  <option value="10">Octubre</option>
                  <option value="11">Noviembre</option>
                  <option value="12">Diciembre</option>
                </select> </div>
              <div class="col-xs-3 col-md-3">
                <select name="year" class="form-control input-lg borde año">
                  <option value="2020">2020</option>
                </select>
              </div>
              <div class="col-xs-3 col-md-3">
                <input type="time" name="hour" value="" class="form-control input-lg borde hora" max="23:00">
                </select>
              </div>
            </div>

            <p class="mt-4 text-center">Descripcion y lugar del evento</p>
            <div class="form-group input-group row">

              <div class="input-group-prepend col-xs-12 col-md-12" id="">
                <input class="form-control mr-sm-2 search borde" type="search" placeholder="Search" aria-label="Search">

              </div>
              <div class="resultados col-xs-12 col-md-12 mt-3">
                <ul class="listaMunicipioSeleccionado">
                  <li class="municipioSeleccionado">{{userDatos.provincia}}</li>
                </ul>
                <ul class="listaMunicipios">

                </ul>
              </div>
              <div class="resultados col-xs-12 col-md-12 mt-3">
                <ul class="listaMunicipios">

                </ul>

                <div id="map"></div>
              </div>

            </div>

            <div class="form-group input-group creacionEvento">

              <div class="input-group-prepend ">
                
                <div class="tipoDeporte">
                  <img src="/img/muchos.png" alt="" height="100" width="100" class="imgDeportes">
                  <input type="text" name="tipodeporte" class="invisible deporteElegido">
                  <p class="nombreDeporte">Selecciona un deporte</p>
                  
                </div>
              </div>

                 <p class="priv privacidad">Tipo de evento:</p>
              <div class="btn-group btn-group-toggle " data-toggle="buttons">
                   
                <label class="btn btn-success active publico btnPrivacidad">
                  <input type="radio" name="options" id="option1" checked> Publico
                </label>
                <label class="btn btn-danger privado btnPrivacidad">
                  <input type="radio" name="options" id="option2"> Privado
                </label>
                <img src="/img/abierto.png" alt="" height="42" width="42" class="ml-3 candado">

              </div>
            </div>
            <div class="divDeportes invisible">
              <div class="gridDeportes mt-3">

              <div class="futbol deporte">
                <img src="/img/deportesIconos/futbol.png" alt="" height="100" width="100" class="imgDeportes">
                <p class="text-center mt-3">Futbol</p>
              </div>

              <div class="baloncesto deporte">
                <img src="/img/deportesIconos/baloncesto.png" alt="" height="100" width="100" class="imgDeportes">
                <p class="text-center mt-3">Baloncesto</p>
              </div>

              <div class="running deporte">
                <img src="/img/deportesIconos/running.png" alt="" height="100" width="100" class="imgDeportes">
                <p class="text-center mt-3">Running</p>
              </div>

              <div class="tenis deporte">
                <img src="/img/deportesIconos/tenis.png" alt="" height="100" width="100" class="imgDeportes">
                <p class="text-center mt-3">Tenis</p>
              </div>

              <div class="senderismo deporte">
                <img src="/img/deportesIconos/senderismo.jpg" alt="" height="100" width="100" class="imgDeportes">
                <p class="text-center mt-3">Senderismo</p>
              </div>

              <div class="padel deporte">
                <img src="/img/deportesIconos/padel.png" alt="" height="100" width="100" class="imgDeportes">
                <p class="text-center mt-3">Padel</p>
              </div>

              <div class="beisbol deporte">
                <img src="/img/deportesIconos/beisbol.png" alt="" height="100" width="100" class="imgDeportes">
                <p class="text-center mt-3">Beisbol</p>
              </div>

             </div>
            </div>

            <div class="row flex-center eliminado contraseña">
              <div class="col-xs-3 col-md-3">
                <p class="text-center">Contraseña</p>
                <input type="type" name="password" placeholder="Titulo" class="form-control mr-5 borde password" autofocus>
              </div>
            </div>
            
             <div class="form-group input-group">

              <div class="input-group-prepend ">
               <div class="descripcion">
                 <p class="text-center descripcion">Descripción del evento</p>
                   <textarea class="form-control descripciontext borde" id="exampleFormControlTextarea1" rows="3" cols="100" name="description"></textarea>
              </div>

              </div>
            </div>
           
           </form>
            <div class="form-group input-group flex-center mt-5">
                <button type="button" class="btn btn-success enviarForm"> <i class="fas fa-check"></i> Crear evento</button>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
