<link rel="stylesheet" href="/css/app.css">
{{>navigation}}
{{>sidebar}}

<div class="contenedor">
  <!--{{>message}} 
  -->
  <div class="crearEvento mt-5">
  <a href="/evento/add">
<button type="button" class="btn btn-primary botonEvento">Crear evento</button>
</a>
</div>
<hr>
  
  
   


  
</div>
