<link rel="stylesheet" href="/css/app.css">
{{>navigation}}
{{>sidebar}}

<div class="contenedor">
  <!--{{>message}} 
  -->
  <div class="crearEvento mt-5">
    <a href="/evento/add">
      <button type="button" class="btn btn-primary botonEvento">Crear evento</button>
    </a>
  </div>
  <hr>

  <div class="filtrador">

  </div>
  <hr>

  <div class="eventos">
    <div class="tarjetaEvento">
      <div class="parteSuperior">
        <div class="imagenDeporte">
        </div>
        <div class="tituloEvento">
          <h3 class="eventoTitulo">Titulo: </h3>
          <div class="muni">
            <h5 class="eventoTitulo">Municipio: </h5>
          </div>
          </div>
        
        
         
      </div>
      
      <div class="parteInferior">
        <div class="participantesEvento">
          <h5 class="ml-3">Participantes: </h5>
        </div>


        <div class="acabaEl">
          <h5 class="ml-5">Acaba el: </h5>
        </div>

        <div class="verEvento">
          <a href="">
          <button type="button" class="btn btn-success eventButton"> <i class="fas fa-check mr-2"></i> Ver evento</button>
          </a>
        </div>

      </div>
    </div>
  </div>

</div>



</div>