{{>navigation}}
<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1 text-dark">Aquí irá info sobre la web</h1>
        </div>
        <div class="overlay"></div>
    </header>
</main>