* {
    margin: 0;
    padding: 0;
}


/*.cabeceraInicio {
    display: none;
    background-color: #151719;
}*/

.contenedor {
    height: 100vh;
    margin-left: 250px;
    padding: 1px 16px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -900;
}

.crearEvento {
    margin-top: 5% !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #B7B2B1;
    opacity: 0.9;
    border-radius: 40px 40px 40px 40px;
}

.negrita {
    font-weight: 600;
    z-index: 99999;
}

.eventos {
    color: blue;
    height: 100%;
    width: 100%;
}

.botonEvento {
    width: 200px;
    height: 100px;
    margin-left: 50% !important;
}

.eventos {
    margin-left: 1%;
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.tarjetaEvento {
    height: 300px;
    width: 500px;
    background-color: white;
    border: 2px solid black;
}

.parteSuperior {
    display: flex;
    height: 47%;
    width: 100%;
    color: black;
}

.parteInferior {
    display: flex;
    height: 45%;
    width: 100%;
    color: white;
    background-color: #151719;
}

.creadoPor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 100%;
    color: white;
    background-color: #151719;
}

.imagenDeporte {
    height: 140px;
    width: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #151719;
}

.tituloEvento {
    width: 50%;
    height: 50%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.muni {
    width: 50%;
    height: 50%;
    background-color: #151719;
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
}

.participantesEvento {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.eventoMunicipio {
    margin-top: 1%;
    color: white;
}

.acabaEl {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.verEvento {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.oculto {
    display: none;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes slideBg {
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -o-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}