* {
    margin: 0;
    padding: 0;
}

#sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #151719;
}

#sidebar ul li {
    color: rgba(230, 230, 230, .9);
    text-align: center;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    padding: 15px 10px;
    list-style: none;
}

.logo {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.listaSidebar {
    margin-top: 5%;
}

.fotoNombre {
    margin-top: 10%;
}

.eliminado {
    display: none;
}