.container {
    width: 100%;
    height: 100%;
}

.verde {
    display: flex;
    justify-content: flex-end;
}

.flechas {
    display: flex;
    justify-content: space-between;
}

.normasContraseña {
    list-style: none;
}

.recuerdaContraseña {
    font-weight: bold;
}

.cruz {
    float: right;
    margin-top: 5px;
    cursor: pointer;
}

.descripcion {
    margin-left: 11%;
}

.deportes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.nombreDeporte {
    margin-top: 4%;
    text-align: center;
}

.fijado {
    box-shadow: inset 10px 10px 68px 17px #00823F;
    top: 3px;
    /**/
}

.invisible {
    visibility: hidden;
}

.megaContenedor {
    position: relative;
    display: flex;
    justify-content: center;
}

.paso1 {
    position: absolute;
}

.paso2 {
    position: absolute;
}

.paso3 {
    position: absolute;
}