<link rel="stylesheet" href="/css/sidebar.css">
<div id="sidebar">
<div class="fotoNombre">
  <img src="/img/perfil.webp" alt="" height="150" width="150" class="logo" class="fotoPerfil">
  <h4 class="text-center mt-4 text-white usernameUser">{{{userDatos.username}}}</h4>
  <h4 class="text-center mt-4 text-white comunidadUser eliminado">{{{userDatos.comunidad}}}</h4>
</div>
<ul class="listaSidebar"> 
  <li></li>

<a href="/app">
  <li>Inicio</li>
</a>

<a href="/user/{{userDatos.id}}">
  <li>Mi Perfil</li>
</a>

<a href="/eventos">
  <li>Mis eventos</li>
</a>



</ul>

<div class="cerrarSesion text-center">
<a href="/logout">
  <button type="button" class="btn btn-danger mt-4">Cerrar Sesion</button>
</a>
  </div>

</div>